.config-title {
    text-align: center;
    padding-top: 1em;
}

.ul-config-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.config-nav {
    background-color: snow;
    list-style-type: none;
    cursor: pointer;
}

.config-nav-item {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    display: block;
}

.config-nav-item.active {
    background-color: #d53a3a;
    font-weight: bold;
    color: white;
    transition: background-color 0.3s ease-in-out;
}

.conteudo-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.content-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease-in-out;
}

.perfil-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #d53a3a;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.perfil-circle-btn {
    text-align: center;
    width: 100px;
    height: 35px;
    background-color: #d53a3a;
    color: white;
    border-radius: 15px;
    font-size: 30px;
    cursor: pointer;
}

/* Oculta as seções */
section {
    display: none;
}

/* Exibe a seção ativa */
section.active {
    display: block;
}
