.config-tittle {
    text-align: center;
    padding-top: 1em;
    
}
.ul-config-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.config-nav {
    background-color: snow;
    list-style-type: none;
}
.config-nav-item {
    text-decoration-line: none;
    color: black;
}

.config-nav{
    cursor: pointer; /* Make items clickable */
}

.config-nav-item.active {
    background-color: #d53a3a;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}
.conteudo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.content-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease-in-out;
}
.show{
    display: block;
    opacity: 1;
}
.perfil-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #d53a3a;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.perfil-circle-btn {
    text-align: center;
    width: 100px;
    height: 35px;
    background-color: #d53a3a;
    color: white;
    border-radius: 15px;
    font-size: 30px;

}