{{ define "content" }}

<div class="main-container">
    <div class="card-title central-container">
        <div id="diasCarrossel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-dia">
                        <h3>01 Outubro</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-dia">
                        <h3>02 Outubro</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-dia">
                        <h3>03 Outubro</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-dia">
                        <h3>04 Outubro</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-dia">
                        <h3>05 Outubro</h3>
                    </div>
                </div>
            </div>
        </div>
    
    
        <button class="carousel-control-prev" type="button" data-bs-target="#diasCarrossel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#diasCarrossel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Próximo</span>
        </button>
    
    <!-- Fim do carrosel -->
    
    <!-- Inicio Tabela  -->
    
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Procedimento</th>
                        <th>Médico</th>
                        <th>Hora</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Victoria</td>
                        <td>Extração dental</td>
                        <td>Paulo</td>
                        <td>14:30</td>
                    </tr>
                    <tr>
                        <td>Jessica</td>
                        <td>Raio-x Dental</td>
                        <td>Carlos </td>
                        <td>09:10</td>
                    </tr>
                    <tr>
                        <td>Jessica</td>
                        <td>Limpeza</td>
                        <td>Carlos Magno</td>
                        <td>10:00</td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>

{{ end }}