{{ define "content"}}

<div class="main-container">
    <section class="main">
            <h1 class="config-tittle">Configurações</h1>
        <nav class="main-nav">
            <ul class="ul-config-nav">
                <li class="config-nav"><a href="#" class="config-nav-item active" data-config-nav-item="conta">CONTA</a></li>
                <li class="config-nav"><a href="#" class="config-nav-item" data-config-nav-item="perfil">PERFIL</a></li>
                <li class="config-nav"><a href="#" class="config-nav-item" data-config-nav-item="segurança">SEGURANÇA</a></li>
                <li class="config-nav"><a href="#" class="config-nav-item" data-config-nav-item="financeiro">FINANCEIRO</a></li>
                <li class="config-nav"><a href="#" class="config-nav-item" data-config-nav-item="notificações">NOTIFICAÇÕES</a></li>         
            </ul>
        </nav>
    </section>  
    <section class="conteudo-1">
    <div class="content-1">
    <h3>ID: 0000000</h2>
    <p>Telefone: 94981524443</p>
    <p>Email: teste@gmail.com</p>
    <p>Endereço: Rua Ernesto Geisel</p>
    <p>Cidade: Parauapebas</p>
    <p>Novo Paraiso</p>
    </div>
    <div class="content-2">
    <div class="perfil-circle"><i class="bi bi-image-fill"></i></div>
    <a href="#"><div class="perfil-circle-btn">Alterar</div></a>
    </div>
    </section>
    <section class="conteudo-2" style="display: none;">
    <div class="content-3">
    <h3>ID: 0000000</h2>
    <p>Telefone: 94981524443</p>
    <p>Email: teste@gmail.com</p>
    <p>Endereço: Rua Ernesto Geisel</p>
    <p>Cidade: Parauapebas</p>
    <p>Novo Paraiso</p>
    </div>
    <div class="content-4">
    <div class="perfil-circle"><i class="bi bi-image-fill"></i></div>
    <a href="#"><div class="perfil-circle-btn">Alterar</div></a>
    </div>
    </section>
    

</div>

{{ end }}