{{ define "content" }}

<link rel="stylesheet" href="/static/css/Sidebar.css"/>

<div class="main-container">
    <h1 class="config-tittle">Bem vindo(a)!</h1>
    <section class="main">
        <div class="main-cards">
            <div class="card">
                <i class="fas fa-calendar"></i>
                <h3>Agendamentos</h3>
                <p>0</p>
                
            </div>
            <div class="card">
                <i class="fas fa-solid fa-envelope"></i>
                <h3>Atendimentos</h3>
                <p>0</p>
                
            </div>
            <div class="card">
                <i class="fas fa-regular fa-clock"></i>
                <h3>Tratamentos</h3>
                <p>0</p>
                
            </div>
        </div>
</section> 

</div>
{{ end }}   