{{ define "content" }}


<div class="main-container">
    <section class="main">
        <h1 class="config-tittle">Configurações</h1>
        <div class="main-cards">
            <div class="card">
                <i class="fas fa-database"></i>
                <h3>Banco de Dados</h3>
                <p>exemplos</p>
                
            </div>
            <div class="card">
                <i class="fas fa-chart-line"></i>
                <h3>Estatísticas</h3>
                <p>exemplo</p>
                
            </div>
        </div>
</section> 

</div>
{{ end }}   