<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <link rel="stylesheet" href="/static/css/Sidebar.css?={{.Time}}">
    <link rel="stylesheet" href="/static/css/Navbar.css">
    <link rel="stylesheet" href="/static/css/Chat.css">
    <link rel="stylesheet" href="/static/css/calendario.css">
    <link rel="stylesheet" href="/static/css/configs.css">
    <link rel="stylesheet" href="/static/css/financeiro.css">

    <title>Configurações</title>
    
</head>
<body>
<div class="navbar-conteudo">
        <nav class="navbar">
            <ul>
                <li class="li-nav-item">
                    <a href="#">
                        <img class="logo" src="/static/img/logo.jpg" alt="logo"/>
                    </a>
                </li>   
                <li class="li-nav-item">
                    <a href="#">
                        <i class="bi bi-door-open-fill"></i>
                    </a>
                </li>
            </ul>
        </nav>
</div>
<div class="container-principal">

<div class="container-secundario">

    <div class="container-sidebar">
        <!-- Sidebar -->
            <nav class="sidebar">
                <ul class="ul-sidebar">
                    <!--DASHBOARD-->
                    <li class="li-nav-item nav-item-2">
                        <a class="nav-item" href="/Dashboard    ">
                            <i class="bi bi-house-door-fill"></i>
                        </a>
                    </li>
                    <!--CHAT-->
                    <li class="li-nav-item nav-item-1">
                        <a class="nav-item" href="/Atendimento">
                            <i class="bi bi-wechat"></i>
                        </a>
                    </li>
                    <!--AGENDA-->
                    <li class="li-nav-item nav-item-1">
                        <a class="nav-item" href="/Tratamentos">
                            <i class="bi bi-clock-history"></i>
                        </a>
                    </li>
                    <!--HISTORICO-->
                    <li class="li-nav-item nav-item-1">
                        <a class="nav-item" href="/Calendario">
                            <i class="bi bi-calendar2-plus-fill"></i>
                        </a>
                    </li>
                    <!--FINANCERO-->
                    <li class="li-nav-item nav-item-1">
                        <a class="nav-item" href="/Financeiro">
                            <i class="bi bi-receipt"></i>
                        </a>
                    </li>
                    <!--CONFIGURAÇÕES-->
                    <li class="li-nav-item nav-item-3">
                        <a class="nav-item" href="/Config">
                            <i class="bi bi-sliders"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- Fim da SIDEBAR-->
             
    </div>
    <div class="container-conteudo">
        {{ block "content" . }}
        {{ end }}
    </div>

</div>    
</div>
<script src="/static/js/Sidebar.js"></script>

</body>
</html>
