{{ define "content" }}
<link rel="stylesheet" href="/static/css/Chat.css" type="text/css" />

<div class="main-container">
    <div class="container-atendimento">
        <!-- Conversas -->
        <div class="content-atendimento-1">
            <div class="header-conversa">
                <h4>Conversas</h4>
                <div class="content-pesquisa">
                    <input type="text" placeholder="Pesquisar...">
                    <button class="btn-pesquisa"><i class="fas fa-search"></i></button>
                </div>
            </div>
            <div class="content-conversa">
                <ul class="content-conversas-1">
                    <li>
                        <a href="#" class="content-conversas-header" data-conversation="#conversation-1">
                            <img style="width:8vh;" src="/static/img/logo.jpg" alt="User Image">
                            <span class="content-message-info">
                                <span class="content-message-name">Victoria</span>
                                <span class="content-message-text">kkkkk</span>
                            </span>
                        </a>
                    </li>
                    <!-- Adicionar mais links de conversas se necessário -->
                </ul>
            </div>
        </div>

        <!-- Área de Chat -->
        <div class="content-atendimento-2">
            <div class="chat-area">
                <!-- Exibe mensagem padrão "Selecione o chat" -->
                <div class="conversation conversation-default active">
                    <i class="ri-chat-3-line"></i>
                    <p>Selecione o chat para ver a conversa</p>
                </div>

                <!-- Conversa selecionada -->
                <div class="conversation" id="conversation-1" style="display: none;">
                    <!-- Navbar da conversa -->
                    <div class="conversation-top">
                        <button type="button" class="conversation-back"><i class="ri-arrow-left-line"></i></button>
                        <div class="conversation-user">
                            <img style="width:8vh;" src="/static/img/logo.jpg" alt="">
                            <div>
                                <div class="conversation-user-name">Karla</div>
                                <div class="conversation-user-status online">online</div>
                            </div>
                        </div>
                        <div class="conversation-buttons">
                            <button type="button"><i class="ri-phone-fill"></i></button>
                            <button type="button"><i class="ri-vidicon-line"></i></button>
                            <button type="button"><i class="ri-information-line"></i></button>
                        </div>
                    </div>

                    <!-- Mensagens -->
                    <div class="conversation-main">
                        <ul class="conversation-wrapper">
                            <div class="coversation-divider"><span>Hoje</span></div>
                            <!-- As mensagens serão adicionadas aqui dinamicamente -->
                        </ul>
                    </div>

                    <!-- Formulário de envio de mensagem -->
                    <div class="conversation-form">
                        <button type="button" class="conversation-form-button"><i class="ri-emotion-line"></i></button>
                        <div class="conversation-form-group">
                            <textarea id="messageInput" class="conversation-form-input" rows="1" placeholder="Digite sua mensagem..."></textarea>
                            <button type="button" class="conversation-form-record"><i class="ri-mic-line"></i></button>
                        </div>
                        <button id="sendButton" type="button" class="conversation-form-button conversation-form-submit"><i class="ri-send-plane-2-line"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/js/script.js"></script>
{{ end }}
