{{ define "content" }}

<div class="main-container">
    <div class="main-historico">

            <div class="container-historico-title">
                <h1 class="title-historico">Histórico de Tratamentos</h1>
                <p style="font-size: 4.1vh; margin-left: 20px">Nome do paciente: <span>Victoria</span></p>
            </div>
            <div class="container-historico-content">

                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">Procedimento</th>
                                <th scope="col">Medico</th>
                                <th scope="col">Data</th>
                                <th scope="col">Hora    </th>
                            </tr>
                        </thead>
                            <tbody>
                                {{range .}}
                                <tr>
                                    <th scope="row">{{.Paciente_id}}</th> <!-- Aqui você pode ajustar para exibir o nome do paciente -->
                                    <td>{{.Nome_procedimento}}</td>
                                    <td>{{.Profissional_Designado}}</td>
                                    <td>{{.Data_procedimento}}</td>
                                    <td>{{.Hora_procedimento}}</td>
                                </tr>
                                {{end}}
                            </tbody>
                    </table>
                </div>

            </div>   

    </div>
</div>

{{ end }}

